<p id="notice"><%= notice %></p>


<table>
  <tr valign="top">
    <td width="300">
		<h2><%= @club.name %>'s Profile:</h2>	
		Credits for this club's active account <br>
		Debits for this club's active account
    </td>
  </tr>
</table>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
