<table>
	<tr>
		<td style="width:200px; valign:top; text-align:center;"> 
			<u>Current Balance(QR)</u><br>
			<div style="font-size:315%;">
			<% if @club.current_balance < 1000 %>
				<div style="color:red;">
				<%= @club.current_balance %>
				</div>
			<% else %>
				<div style="color:green;">
				<%= @club.current_balance %>
				</div>
			<% end %>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<!-- all credits for account -->
			<% unless @account_credits.nil? %>
				<%= render :partial => "account_credits" %>
			<% end %>
			
			<!-- all debits for account -->
			<% unless @account_debits.nil? %>
				<%= render :partial => "account_debits" %>
			<% end %>	
		</td>
	</tr>
</table>