<table class = "datagrid">
	<tr>
	<td><b>Inactive Accounts:</b></td>
		<% @inactive_accounts.each do |account| %>
			<td><%= link_to account.year, account_path(account) %></td>
		<% end %>
	</tr>
</table>
