<h1>(<%= @club.club_key %>) <%= @club.name %>'s Profile:</h1>

<!-- render club information -->
<table>
	<td width="500">
		<!-- renders information for @club's current account-->
		<% unless @club.current_account.nil? %>
			<p class="supertiny">&nbsp;</p>
			<%= render :partial => "current_account" %>
		<% end %>
	</td>
	
	<td width="250">
		<%= render :partial => "club_info" %>
	</td>
</table>




