<% if logged_in? %>
	<div id="header">
	
		<div id="user">
			Sign is as <%= current_user.name %>. <%= link_to "Log out", logout_path %>
		</div>
	
		<%= link_to(image_tag("Header.png", :border => 0), root_url) %>
		
	</div>
<% end %>

