<% if logged_in? %>
	<span id="header">  
		<%= link_to(image_tag("Header.png", :border => 0), root_url) %>
	</span>
	
	<span id="user">
		Sign is as <%= current_user.name %>. <%= link_to "Log out", logout_path %>
	</span> 
  
	<br><br><br><br>
<% end %>

