.debit_info {
	font: 130% Verdana, Arial, Helvetica, sans-serif;
	color: black;
	text-align: left;
	vertical-align: middle;
	border-collapse:collapse;
	width:auto;
	white-space:nospan;
}

.debit_info td {
	border: 1px solid black;
	padding:10px;
	white-space:nospan;
}

.debit_info tr {
	text-align:center;
	white-space:nospan;
}

.debit_info caption{
	padding-bottom:10px;
}