<table class="datagrid">
<caption class="datagrid">Participations</caption>
	<thead class="datagrid">
		<th>Club</th>
		<th>Role</th>
		<th>Manage</th>
	</thead>

<% for assignment in @user.assignments %>
  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
	<td>
		<% unless assignment.club.nil? || @user.is_admin? || @user.is_vp? ||@user.is_director? %>
			<%= link_to assignment.club.name, club_path(assignment.club) %>
		<% else %>
			N/A
		<% end %>
	</td>
	<td><%= assignment.role.name %></td>
	<td align="center"><%= link_to(image_tag("delete_dg.png", :border => 0), :confirm => "Are you sure?", :controller => "assignments", :action => :delete, :id => assignment.id) %></td>
  </tr>
<% end %>
</table>
