<h1>User Info</h1>

<p>
  <b>First name:</b>
  <%=h current_user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h current_user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%=h current_user.email %>
</p>

<!-- <p>
  <b>Active:</b>
  <%#=h current_user.active %>
</p> -->

<% if current_user == @user %>
	<%= link_to 'Edit', edit_user_path(current_user) %>
<% end %>