<h1>User Info</h1>

<p>
  <b>First name:</b>
  <%=h current_user.first_name %>
</p>

<p>
	<b>Middle name:</b>
	<%=h current_user.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h current_user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%=h current_user.email %>
</p>

