<br>
	<table style="position:absolute;">
		<tr>
			<td style="text-align:right;">Username:</td>
			<td style="text-align:left;"><%=h @user.username %></td>
		</tr>
		<tr>
			<td style="text-align:right;">Email:</td>
			<td style="text-align:left;"><%= mail_to @user.email, @user.email %></td>
		</tr>
	</table>


<!-- renders a table that shows all assignments for the user -->
	<div style="position:absolute; left:500px;">
	<% unless @user.assignments.nil? || @user.assignments.empty? %>
		<%= render :partial => "user_assignments" %>
	<% end %>
	</div>





