	<table style="float:left;">
		<tr>
			<td>Username:</td>
			<td><%=h @user.username %></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><%= mail_to @user.email, @user.email %></td>
		</tr>
	</table>
	
	<span style="float:right; margin-left:100px;">
		<% unless @user.assignments.nil? || @user.assignments.empty? %>
			<%= render :partial => "user_assignments" %>
		<% end %>
	</span>


<!-- renders a table that shows all assignments for the user -->
