<h2> Your Assignments </h2>

<table class = "datagrid">
  <thread class = "datagrid">
    <th>Role</th>
    <th>Club</th>
  </thread>

<% for assignment in @assignment_for_user %>
  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
    <td><%= assignment.role.name %></td>
	<td><%= link_to(h(assignment.club.id), club_path(assignment.club)) %></td>
	<%#= link_to(h(assignment.club.name), account_path(:id => assignment.club.current_account)) %>
  </tr>
<% end %>
</table>