<table class = "datagrid">
<caption>Paricipations</caption>
  <thead class = "datagrid">
    <th>Club</th>
	<th>Balance</th>
	<th>New Debits</th>
  </thead>
  <!-- only shows active assignments -->
<% for assignment in current_user.assignments %>
    <% if assignment.active %>
	  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
		<td><%= link_to(h(assignment.club.name), club_path(assignment.club)) %></td>
		<td><%= assignment.club.current_account.balance %>
		<td align='center'> 
		<% if current_user.is_affairs? %>
			<% unless assignment.club.current_account.unreimbursed.empty? || assignment.club.current_account.unreimbursed.nil? %>
			<%= image_tag("reimburse_dg.png", :border => 0) %>
			<% end %>
		<% end %>
		</td>
	  </tr>
	<% end %>
<% end %>
</table>