
	<div id="container">
		<div id="left">
			<% unless @under_250.nil? %>
				<%= render :partial => "less_than_250" %>
			<% end %>
		</div>
		
		<div id="right">
			<% unless @over_250.nil? %>
				<%= render :partial => "greater_than_250" %>
			<% else %>
			<% end %>
		</div>
	</div>
	