<div style='margin-left:400px; position:absolute;'><%= link_to "View All Clubs", clubs_path() %></div>
<br>
<br>
		<% unless @under_250.nil? || @under_250.empty? %>
			<%= render :partial => "less_than_250" %>
		<% end %>

		<br>
		
		<% unless @over_250.nil? || @over_250.empty? %>
			<%= render :partial => "greater_than_250" %>
		<% end %>


	