<!-- lists all assignmend for the current_user-->
<% unless current_user.assignments.nil? || current_user.assignments.empty? %>
	<p class="supertiny">&nbsp;</p>
	<%= render :partial => "assignment_for_user" %>
<% end %>



<!-- needs to show a table for student affairs
that holds all unreimbursed debits for clubs
they advise -->

