<h1> <%= current_user.first_name + " " + current_user.last_name %>'s Mezaniah </h1>


<% unless @assignment_for_user.nil? || @assignment_for_user.empty? %>
  <p class="supertiny">&nbsp;</p>
  <%= render :partial => "assignment_for_user" %>
<% end %>

<%#= link_to 'Club Profile', club_profile_path() %>

