<div id="container">
			<% unless current_user.assignments.nil? || current_user.assignments.empty? %>
				<%= render :partial => "assignment_for_user" %>
			<% end %>
		</div>
		<br>
			<% unless @unclaimed_debits.nil? || @unclaimed_debits.empty? %>
				<%= render :partial => "unclaimed" %>
			<% end %>
		<br>
			<% unless @processing_debits.nil? || @processing_debits.empty? %>
				<%= render :partial => "processing" %>
			<% end %>
		<br>
			<% unless @ready_debits.nil? || @ready_debits.empty? %>
				<%= render :partial => "ready" %>
			<% end %>