<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @dabit_category.category %>
</p>


<%= link_to 'Edit', edit_dabit_category_path(@dabit_category) %> |
<%= link_to 'Back', dabit_categories_path %>
